@{
    ViewData["Title"] = "Confirm";
}

<div class="card mx-auto mt-3" style="width: 36rem;">
    <div class="card-body text-center text-light">
        <h4>Email address is successfully confirmed!</h4>
        <h6>Please, click <a href="/">here</a> to log in</h6>
    </div>
</div>
